@media (max-width: 1610px) {
  .Professions-rows 
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-column-gap: 40px
    grid-row-gap: 30px
    max-width: 1000px
    margin: auto}
@media (max-width: 1010px) 
  .Professions-rows 
    grid-template-columns: 1fr
    grid-template-rows: repeat(6, 1fr)
    grid-row-gap: 30px
    max-width: 500px
    margin: auto