* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.conteiner {
  max-width: 1350px;
  margin: 0 auto;
  width: 100%;
}

.button {
  background-color: #990000;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 8px #990000;
  padding: 1rem;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.button:hover {
  box-shadow: 0px 0px 6px 8px #990000;
  transition-duration: 0.4s;
}

.home {
  background: url("../img/home/homeBg.jpg") top/cover;
  max-height: 901px;
  min-height: 901px;
}

.home-header {
  background: rgba(0, 0, 0, 0.3);
}

.home-header__nav {
  display: flex;
}

.nav-item {
  margin-left: 3rem;
}

.hamburger-menu {
  display: none;
}

.home-header__phone {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.home-header-conteiner {
  height: 150px;
  background: transparrent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-content__tilte {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.13em;
  margin-bottom: 5rem;
}

.home-content-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.about-project-cont {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
}

.about-project-title {
  color: #000;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.055em;
}

.about-project-subtitle {
  padding-top: 2rem;
  color: #000;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.055em;
  margin-bottom: 2rem;
}

.about-project-text {
  padding-left: 2rem;
}

.about-project__photo {
  max-width: 100%;
}

.our-services {
  background-color: #272727;
  min-height: 1099px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-services__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.055em;
  text-align: center;
}

.test-block {
  background-color: red;
}

.collum__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.095em;
  padding-top: 1rem;
}

.our-services-collum {
  max-width: 393px;
  width: 100%;
  min-height: 657px;
  border: solid 2px #fff;
  padding: 2rem 0 0 2rem;
}

.our-services__collums {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.our-services-collum__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.055em;
  padding-top: 2rem;
}

.why-are-we__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.055em;
  color: #000000;
}

.why-are-we__columm {
  width: 328px;
  height: 192px;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.11);
  border-radius: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-are-we_con {
  min-height: 971px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.why-are-we__columms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 200px;
  grid-row-gap: 100px;
  padding-top: 10rem;
}

.why-are-we__columm__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #525252;
}

.how-it-work {
  padding-top: 4rem;
  background-color: #272727;
  min-height: 1249px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-work__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.055em;
  margin-bottom: 3rem;
}

.how-it-work-rows {
  background: #272727;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.56);
  border-radius: 20px;
  max-width: 864px;
  min-height: 155px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.how-it-work-rows__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.055em;
  margin-bottom: 2rem;
}

.how-it-work-rows__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.055em;
}

.how-it-work-rows__con {
  max-width: 800px;
}

.contact__map {
  background: url("../img/contact/map.jpg") top/cover;
  min-height: 419px;
}

.contact-form {
  min-height: 986px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0 1rem;
}

.contact-form__input {
  background: #FFFFFF;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.22em;
  color: #434343;
  border: none;
  max-width: 690px;
  min-height: 84px;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.footer {
  min-height: 269px;
  background-color: #272727;
}

.footer-svg__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.055em;
}

.footer-svg {
  display: flex;
  flex-direction: column;
}

.footer__con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 269px;
}

.footer-svg__text {
  padding-top: 2rem;
}

.footer-contact__address, .footer-contact__number, .footer-contact__email {
  padding-top: 1rem;
}

@media (max-width: 1420px) {
  .why-are-we__columms {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    max-width: 1000px;
    margin: auto;
    padding-top: 2rem;
  }

  .home-header__logo {
    padding-left: 1rem;
  }

  .why-are-we {
    padding-top: 4rem;
  }

  .conteiner {
    max-width: 1100px;
  }
}
@media (max-width: 1430px) {
  .hamburger-menu {
    display: block;
  }

  .home-header__nav {
    display: none;
  }
}
@media (max-width: 1350px) {
  .our-services__collums {
    flex-direction: column;
    align-items: center;
  }

  .our-services-collum {
    margin-bottom: 3rem;
  }

  .our-services__button {
    margin: 0 0 2rem 2rem;
  }

  .our-services {
    padding-top: 4rem;
  }
}
@media (max-width: 970px) {
  .about-project-cont {
    flex-direction: column;
    align-items: center;
  }

  .home-content__tilte {
    padding: 0 1rem 0 1rem;
  }
}
@media (max-width: 920px) {
  .conteiner {
    max-width: auto;
  }

  .how-it-work-rows {
    max-width: 560px;
  }

  .how-it-work-rows__con {
    max-width: 500px;
  }

  .about-project {
    padding: 0 2rem 0 0;
  }
}
@media (max-width: 738px) {
  .why-are-we__columms {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 30px;
    max-width: 500px;
    margin: auto;
  }

  .footer__con {
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .footer-contact, .footer__logo {
    margin-bottom: 2rem;
  }

  .footer-svg__text {
    padding-top: 1rem;
  }
}
@media (max-width: 628px) {
  .home-content__tilte, .about-project-title {
    font-size: 20px;
  }

  .about-project__photo {
    display: none;
  }

  .how-it-work-rows {
    max-width: 400px;
  }

  .how-it-work-rows__con {
    max-width: 350px;
  }

  .how-it-work {
    padding: 0 1rem 0 1rem;
  }

  .our-services-collum {
    border: none;
    max-width: 100%;
  }

  .our-services {
    padding: 0 2rem 0 0;
  }

  .how-it-work, .our-services-con {
    padding-top: 2rem;
  }

  .our-services__title {
    font-size: 25px;
  }

  .why-are-we__title, .how-it-work__title {
    font-size: 30px;
  }

  .why-are-we {
    padding-bottom: 2rem;
  }

  .how-it-work-rows__con, .why-are-we__columm {
    padding: 0 1rem 0 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
